{% extends "layout.html" %}

{% block title %}Home - Vision App{% endblock %}

{% block content %}
    <h2>Welcome!</h2>
    <p>Explore how vision works with our simulator or test your optometry skills in the Eye Test Game.</p>

    <h3>Simulator Object Selection</h3>
    <p>Choose the object you would like to see in the Vision Simulator.</p>
    <div class="navigation-links">
        <a href="{{ url_for('simulator', object='arrow') }}" class="button-navigation">Use Default Arrow</a>
        <a href="{{ url_for('simulator', object='tower') }}" class="button-navigation">Use Tower of London</a>
    </div>
     <p><small>Note: To use the Tower of London, ensure you have an image named <code>tower_of_london.png</code> in the <code>static/images/</code> directory.</small></p>

    <hr style="margin: 30px 0;">

    <h3>Or, Play the Game</h3>
    <div class="navigation-links">
       <a href="{{ url_for('game_start') }}" class="button-start-game">Play Eye Test Game</a>
    </div>
{% endblock %}